<div class="container">

    <div class="d-flex justify-content-center">
        <h1 id="title">Bienvenido a su herramienta para la gestión de personas.</h1><br>
    </div>

    <div class="d-flex justify-content-center">
        <h3>ESta herramienta esta diseñada para que pueda trabajar con la base de datos de personas.
            En ella encontrará las siguientes opciones:
        </h3>
    </div>
    <div class="d-flex justify-content-center">
        <ul>
            <li>Agregar una nueva persona a la base de datos existente.</li>
            <li>Rellenar el formato de adopción para la persona que desee.</li>
            <li>Consultar la tabla con la información de todas las personas.</li>
        </ul>
    </div>

</div>